footer {
  background-color: $black;
  color: $secondary-color;
  font-weight: 200;
  padding: 20px;
  font-size: 16px;
  .footer {  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include lg {
      width: 80%;
      margin-inline: auto;
      flex-direction: row;
      align-items: flex-start;
    }

    .first, 
    .second, 
    .third, 
    .fourth {
      margin-top: 20px;

      h4 {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 10px;
      }
      li {
        cursor: pointer;
        list-style: none;
        margin-bottom: 10px;
      }
      h2 {
        font-size: 40px;
        font-weight: 900;
      }
    }

    .fourth {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  
  .sub-footer {
    display: flex;
    flex-direction: column;

    @include lg {
      width: 80%;
      margin-inline: auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
    }

    .service {
      display: flex;
      order: 2;
    
      p {
        margin-right: 10px;
        font-size: 10px;
      }

      @include lg {
        order: 1;

        p {
          margin-right: 30px;
          font-size: 16px;
        }
      }
    }

    .social-icons {
      order: 1;
      display: flex;
      margin-bottom: 20px;
      margin-top: 20px;
    
      .icon {
        cursor: pointer;
        margin-right: 20px;
        padding: 8px 10px;
        font-size: 18px;
        border-radius: 50%;
        background-color: $secondary-color;
        color: $black;
      }

      @include lg {
        order: 2;
        margin: 0;
      }
    }
  }
}