.order_list {
  height: 30px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .order_list-item {
    display: flex;
    align-items: center;

    .order_list-detail {
      p {
        font-size: 12px;
      }
    }
  }

  .order_list-qty {
    p {
      font-size: 12px;
    }
  }
}
