.dashboard_content {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &-orders-card {
    .title {
      display: flex;
      justify-content: space-between;
      padding: 0 20px;

      h3 {
        font-weight: 400;
        font-size: 16px;
      }

      .date_picker {
        border: none;
        outline: 1px solid gray;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}
