.container {
  position: relative;
  padding: 10px 20px;
  width: 100vw;

  @include lg {
    width: 78vw;
    left: 20vw;
  }
}

.content {
  margin-top: 10px;
  @include lg {
    margin-top: 20px;
  }
}

.btn {
  color: $black;
  background-color: $secondary-color;
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.btn-small {
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.pagination {
  width: 90%;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: 1px solid $secondary-color;
  padding: 8px;
  border-radius: 50%;

  &:hover {
    background-color: $secondary-color;
  }
}

.right-btn {
  margin-left: 10px;
}

.container_content {
  padding: 20px;
  border-radius: 15px;

  div {
    margin-bottom: 10px;

    h4 {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 800;
    }

    p {
      font-size: 16px;
    }
  }
}

.bg-white {
  background-color: $white;
}

.nav {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  li {
    list-style: none;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 20px;
    text-align: center;
    background-color: transparent;
    transition: all 0.6s ease-in-out;

    &.active-color {
      background-color: $secondary-color;
    }
  }
}

.grid_container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.grid_size {
  margin-top: 5px;
  overflow-y: scroll;
  height: 480px;
  &::-webkit-scrollbar {
    width: 2px;
  }
  &::-webkit-scrollbar-track {
    background: $secondary-color;
  }
  &::-webkit-scrollbar-thumb {
    background: $primary-color;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.text-small-gray {
  font-size: 10px;
  color: rgb(95, 94, 94);
  margin-top: 5px;
}

.close-icon {
  background-color: $secondary-color;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.vendor-card {
  background-color: $white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    background-repeat: 50%;
  }

  & > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.avatar {
  border-radius: 50%;
  color: $black;
}

.login_link {
  color: $secondary-color;

  &:hover {
    color: $black;
  }
}

.vendor_tab-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }
}

.meal_tab-grid {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;

  @include sm {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }
}
